.ListRestaurants {
  margin-top: 1.5rem;
  padding: 2rem;
}

.ListRestaurants form {
  display: flex;
  flex-direction: column;
}

.ListRestaurants form div {
  margin-bottom: 12px;
}

.ListRestaurants form input{
  padding: 5px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ListRestaurants form select {
  padding: 5px 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ListRestaurants form button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.ListRestaurants button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.ListRestaurants form label {
  margin-right: 4px;
}

.ListRestaurants button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .ListRestaurants button {
    margin: 5px 0;
    display: block; 
  }
}

@media (min-width: 768px) and (max-width: 992px) {

  .ListRestaurants {
    width: 750px;
  }

  .ListRestaurants h1 {
    font-size: 2.5rem;
  }

  .ListRestaurants form {
    display: flex;
  }

  .ListRestaurants form div {
    margin-bottom: 10px;
  }

  .ListRestaurants form input,
  .ListRestaurants form select {
    width: 200px;
  }

  .ListRestaurants form button {
    margin: 20px 0;
    display: block;
  }
}